---
---

@import '../_sass/global';

// Views
@import '../_sass/views/store';
@import '../_sass/views/blog';

.mobile {
  @media (min-width: 768px){
    display: none;
  }
}
.desktop {
  @media (max-width: 767px){
    display: none;
  }
}

.center {
  margin-bottom: 30px;
}

.content {
  max-width: 602px;
  display: block;
  margin: 0 auto;
}

.content p img {
  max-width: 100%;
}

#about {
  text-align: left;
  background-color: rgba(100,100,100,0.1);
  padding: 10px;
}

.center nav {
  a, a:hover, a:focus {
    text-decoration: none;
    color: white;
    text-shadow: none;
    -webkit-transition: 500ms linear 0s;
    -moz-transition: 500ms linear 0s;
    -o-transition: 500ms linear 0s;
    transition: 500ms linear 0s;
    outline: 0 none;
  }
  a:hover, a:focus {
    color: #fff;
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
  }
  a.selected:link, a.selected:visited, a.selected:hover, a.selected:active {
    text-decoration: none;
    color: #58a8ff;
  }
}

.aboutthegame {
  img {
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
  }
  h1 {
    margin-top: 20px;
    margin-bottom:-10px;
    font-size: 15pt;
    text-align: center;
  }
}

.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titleimg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 0;
  padding: 10px;
  box-sizing: border-box;
  @media (min-width: 768px) {
    padding: 0px;
    margin-bottom: -32px;
    margin-left: auto;
    margin-right: auto;
  }
}

#help .content {
  h2 {
    text-align: left;
  }
  a {
    color: #58a8ff;
  }
  .image {
    position: relative;
    @media (min-width: 768px){
      img {
        position: absolute;
        top: -290px;
        left: 310px;
      }
    }
  }
}

button, .button {
  background-color: rgba(100,100,100,0.1);
  border: 0;
  color: white !important;
  margin: 3px;
  padding: 3px;
}
.code {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  font-size: 12pt;
  background: black;
  padding-left: 4px;
  padding-right: 4px;
}
input[type=submit]:hover{ cursor: pointer; }
input[name=lastname]{ display: none; }
.autusername{
	color: gray;
}
.hig1{
	background: rgb(40,40,40);
}
.fdev{
	display: block;
	color: gray;
	text-align: center;
}
article div a:link,
article div a:visited {
  text-shadow: -1px 1px 8px #707070, 1px -1px 8px #707070;
}

@media only screen and (max-device-width: 768px) {
  .content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}


.view-all{
  display: block;
  margin: 40px auto;
  font-size: 20px;
  background: #C75656;
  padding: 10px 20px;
  border-radius: 3px;
  text-align: center;
  max-width: 170px;
}

.press-url {
  color: rgb(100,100,100);
}

.main {
  h2 {
    text-align: left;
  }
}