/* BLOG */
section.blog-main {
  h2 {
    margin: 10px 0 .5em 0;
    color: white;
    font-size: 36px;
    text-align: left;
  }
  h3 {
    font-size: 25px;
    text-decoration: underline;
  }
  img {
    margin: 10px auto;
    max-width: 100%;
  }
  img.normal {
    margin: 0;
    width: auto;
    border: 0;
  }
  .subt {
    color: #939393;
    font-size: 17px;
    font-style: normal;
  }
  article {
    padding-bottom: 40px;
    margin-bottom: 20px;
    .leave-comment, .back-to-blog {
      margin: 8px 0;
      background-color: #C75656;
      padding: 9px 20px;
      display: inline-block;
      width: auto;
      border-radius: 4px;
      text-shadow: none;
      color: white;
    }
    @media (min-width: 768px) {
      text-shadow: 0 0 10px black;
      background-color: rgba(0,0,0,0.5);
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      padding: 5px 15px;
      box-sizing: border-box;
    }
  }
  article:last-child {
    border-bottom: 0px;
  }
  article.list h2 {
    font-size: 20px;
    @media (min-width: 768px){
      display: inline-block;
      margin-right: 20px;
    }
  }

  p {
    font-size: 20px;
    font-style: normal;
    margin: 0.8rem 0px;
    color: white;
  }

  .pagination {
    padding: 0 0 30px;
    @media (min-width: 768px){
      padding: 0 16px 30px;
    }
  }
}
