---
layout: main
title: Press
nav-active: press
links:
  -
    name: English
    flag: /images/flags/United-Kingdom.png
    list:
      - http://kotaku.com/this-game-uses-your-hard-drives-files-to-build-its-lev-1201171454
      - http://indiegames.com/2013/08/indiegogo_adventuros.html
      - http://www.rockpapershotgun.com/2013/08/27/build-your-own-adventuros/
      - http://www.wired.co.uk/news/archive/2013-08/28/adventuros
      - http://www.indiegamemag.com/adventuros-generates-the-game-based-on-the-contents-of-your-computer/
      - http://www.at7addak.com/article/adventuros-the-new-minecraft-killer
      - http://killstreakmedia.com/pre-view/adventuros-launches-on-steam-greenlight/
      - http://www.gamezone.com/news/2013/09/05/in-adventuros-your-computer-s-drives-determine-the-castle-s-layout
      - http://indiestatik.com/2013/08/27/adventuros-wants-to-take-your-computers-content-to-create-levels/
      - http://www.cinemablend.com/games/AdventurOS-Turns-Your-Computer-Files-Dungeons-58980.html
      - http://www.nerdluster.com/indie/17-kickstarter-knuggets/362-adventuros
      - http://www.stuff.tv/adventuros-ingenious-dungeon-crawler-based-your-hard-drive-contents/news
      - http://betweenlifeandgames.com/interviews/interview-adventuros-developers-evelend-games/
      - http://www.pcauthority.com.au/News/355407,adventuros-creates-a-dungeon-crawl-based-on-your-hard-drives-contents.aspx
      - http://corruptedcartridge.com/indie-game-adventuros-successfully-funded-indiegogo/
      - http://www.gamrmag.com/indiegogo-gets-adventuros-and-builds-levels-out-of-folders-and-files/
      - http://www.thatvideogameblog.com/2013/08/26/adventuros-turns-your-computers-files-into-explorable-dungeons/
      - http://truepcgaming.com/2013/09/12/adventuros-indiegogo-interview/
      - http://linuxgamenews.com/post/61525016014/adventuros-game-based-on-the-content-of-your-computer#.U3D9nk49BhE
      - http://hothardware.com/News/AdventurOS-RPG-Game-Uses-Your-Hard-Drives-File-System-As-Maps-and-Levels-of-Play/
      - http://thatdamnpixel.wordpress.com/2013/08/26/adventureos-will-create-levels-based-on-your-computers-files/
      - http://indiehaven.com/simply-steam-vol-9-adventure-os/
      - http://gamingwithscissors.com/2013/new-adventure-os/
      - http://actionradius.com/blog/?p=7009
      - http://invisioncommunity.co.uk/2013/11/18/adventuros-demo-gameplay-video/
      - http://gamingbullshit.com/interview-adventuros-developer-lorena-casanova/
  -
    name: Spanish
    flag: /images/flags/Spain.png
    list:
      - http://www.hobbyconsolas.com/videos/adventuros-inicia-su-aventura-indiegogo-56209
      - http://psnow.es/noticias/un-juego-construido-a-partir-de-tus-archivos-adventuros/
      - http://www.indiegames.es/adventuros-en-indiegogo/
      - http://www.neoteo.com/adventuros-un-juego-basado-en-el-contenido-de-tu-pc/
      - http://thevault.es/adventuros-nos-propone-un-metroidvania-basandose-en-el-contenido-de-nuestro-disco-duro
      - http://www.fangamers.com/2013/08/24/adventur-os-juego-indie-contenido-pc/
      - http://www.videoshock.es/noticias/2013/09/adventuros-consigue-la-financiacion-a-mas-de-dos-semanas-de-la-fecha-limite/
      - http://newgameplus.es/adventuros-se-cuela-en-tu-pc/
      - http://peninsulaindie.es/tag/adventuros/
      - http://www.vichaunter.com/videojuegos/adventuros-convierte-tu-pc-en-tu-mundo-de-juego
      - http://akihabarablues.com/adventuros-y-la-generacion-loca-de-mundos-en-pc/
      - http://www.android4x.com/adventuros-un-juego-basado-en-el-contenido-de-tu-pc/
  -
    name: Portuguese
    flag: /images/flags/Portugal.png
    list:
      - http://rubberchickengames.com/2013/08/27/adventuros-o-vosso-disco-rigido-como-nunca-o-viram-antes/
      - http://jovemnerd.com.br/jovem-nerd-news/games/adventureos-uma-aventura-pelo-seu-computador/
      - http://rodrigostoledo.com/2013/08/28/aventure-se-dentro-de-seu-computador-com-o-jogo-adventuros/
      - http://www.iniciativanerd.com.br/adventuros-um-game-que-usa-literalmente-seu-computador/
      - http://thisisyouramigaspeaking.com/2013/08/adventuros-cria-um-jogo-em-funcao-do.html
  -
    name: French
    flag: /images/flags/France.png
    list:
      - http://www.gamesidestory.com/2013/11/19/adventuros-se-developpe-tranquillement/
      - http://indius.org/adventuros/
      - http://www.game-sphere.fr/2013/09/adventuros-un-jeu-construit-sur-le-contenu-de-votre-ordi/
      - http://tetoros-lair.fr/2013/10/adventuros-combattez-vos-propres-fichiers-en-jeu/
  -
    name: Chinese
    flag: /images/flags/China.png
    list:
      - http://home.gamer.com.tw/creationDetail.php?sn=2151158
      - http://indienova.com/indie-game-news/adventuros-fundded-on-indiegogo/
  -
    name: Japanese
    flag: /images/flags/Japan.png
    list:
      - http://wired.jp/2013/08/30/adventuros/
  -
    name: Italian
    flag: /images/flags/Italy.png
    list:
      - http://www.gamesoul.it/2013/08/24/adventureos-pronti-a-combattere-contro-i-vostri-files/
  -
    name: German
    flag: /images/flags/Germany.png
    list:
      - http://zockah.de/news/adventuros-generiert-levels-aus-dateien/#.U3EBgU49BhE
  -
    name: Polish
    flag: /images/flags/Poland.png
    list:
      - http://techtrendy.pl/title,AdventurOS-platformowka-ktora-tworzy-plansze-na-podstawie-twojego-HDD,wid,15948106,wiadomosc.html?ticaid=612b6b
---


{% for y in page.links %}
  <h2>{{ y.name }} <img src="{{ y.flag }}"></h2>
  <ul>
    {% for l in y.list %}
      <li><a href="{{ l }}" target='_blank'><span class="domain">{{ l }}</span><span class="press-url">{{ l }}</span></a></li>
    {% endfor %}
  </ul>
  {% if forloop.last %}
  <br>
  {% else %}
  <hr>
  {% endif %}
{% endfor %}

<script>
$("span.domain").each(function() {
  var fullUrl = $(this).text();
  fullUrl = fullUrl.replace("http://", "");
  fullUrl = fullUrl.split('/')[0]
  $(this).text(fullUrl);
});
$("span.press-url").each(function() {
  var fullUrl = $(this).text();
  fullUrl = fullUrl.replace("http://", "");
  name = fullUrl.split('/')[0]
  fullUrl = fullUrl.replace(name , "");
  $(this).text(fullUrl);
});
</script>