---
layout: main
---
<section class="blog-main">
  <article>
    <h2>{{ page.title }}</h2>
    <span class="subt">{{ page.date | date_to_string }}</span>

    {{ content }}

    {% include subscribe.html %}

    <br>
    <div style="margin-bottom: 40px;display: block;">
      <a href="/blog" class="back-to-blog">&#10092; Back to blog</a>
    </div>
    {% include disqus.html %}
  </article>
</section>


<script>
var d = document.getElementById("blog");
d.className = d.className + " selected";
mixpanel.track("Visited blog", {
  "title": "{{ page.title }}"
});
</script>
